* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --veryDarkGrayisBlue: #48556a;
    --desaturatedDarkBlue: #6d7f97;
    --grayishBlue: #9eafc2;
    --lightGrayishBlue: #edf2f8;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    font-size: .8125rem;
    line-height: 1.5;
    padding: 1rem;
}

.container {
    background-color: #fff;
    border-radius: .625rem;
    overflow: hidden;
    max-width: 22.5rem;
}

.img-content img {
    display: block;
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
}

.main-content {
    padding: 1.2rem 2.5rem 1.2rem 2rem;
}

.main-content h1 {
    color: var(--veryDarkGrayisBlue);
    font-size: .95rem;
    font-weight: 700;
    padding-right: 1rem;
    margin: 1rem 0;
}

.main-content p, .profile p {
    color: var(--desaturatedDarkBlue);
    padding-right: .9rem;
}

.active {
    background-color: var(--veryDarkGrayisBlue);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .8rem 2rem;
    border-radius: 0 0 .625rem .625rem;    
}

.profile-pic {
    border-radius: 50%;
    width: 2.5rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.hide-contact {
    display: none;
}

.contact h2 {
    color: var(--veryDarkGrayisBlue);
    font-size: .9rem;
    font-weight: 700;
}

.share-btn {
    background-color: var(--lightGrayishBlue);
    border: none;
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-share-btn {
    background-color: var(--grayishBlue);
}

.share-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.social {
    display: none;
}

.show-social {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    order: -1;
}

.social span{
    color: var(--desaturatedDarkBlue);
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.attribution { 
    font-size: .6875rem; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}

@media screen and (min-width: 48rem) {
   .img-content {
        max-width: 17.82rem;
        border-radius: .625rem 0 0 .625rem;
        
    }

    .img-content img {
        border-radius: .625rem 0 0 .625rem;
        height: 17.375rem;
        object-position: left;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: row;
        overflow: unset;
        max-width: 46rem;
    }

    .main-content {
        padding-top: 0;
        padding-bottom: 0;
        width: 28rem;
    }

    .main-content h1{
        font-size: 1.2rem;
        margin-bottom: .7rem;
    }

    .main-content p{
        font-size: .85rem;
        line-height: 1.7;
        padding: 0;
    }

    .active {
        background: none;
    }

    .profile {
        padding: 0 2.5rem 0 2rem;
        margin: 1.5rem 0 .8rem 0;
        position: relative;
    }

    .show-social {
        background-color: var(--veryDarkGrayisBlue);
        border-radius: .7rem;
        padding: 1.2rem 2rem;
        position: absolute;
        right: -1rem;
        bottom: 4.4rem;
    }

    .show-social::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 1.25rem solid transparent;
        border-right: 1.25rem solid transparent;
        border-bottom: 1.2rem solid var(--veryDarkGrayisBlue);
        bottom: -1rem;
        left: 9.5rem;
        transform: rotate(180deg);
    }

    .bg-share-btn {
        background-color: var(--veryDarkGrayisBlue);
    }

    .hide-contact {
        display: flex;
    }
}

@media screen and (min-width: 61.25rem) {
    .show-social {
        right: -3.9rem;
    }
    .show-social::after {
        left: 6.5rem;
    }
}